<!--
  Generated template for the PollsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Sondages</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p *ngIf="isLoading == true">
    <ion-spinner></ion-spinner>
    Chargement en cours...
  </p>
  <p *ngIf="isLoadingError == true">
    Erreur de chargement.
  </p>

  <ion-fab right bottom>
    <button (click)="goToPollCreatePage()" ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
